{% extends 'base.html' %}
{% block title %}404 Error Gryffin{% endblock %}
{% block body %}
    {% load static %}
    <link type="text/css" MIME="text/css" href="{% static 'style2.css' %}" rel="stylesheet">
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily
            unavailable.</p>
        <p class="output"><a href="https://gryffin-search-engine.herokuapp.com/">return to the homepage</a>.</p>
        <p class="output">Good luck.</p>
    </div>
{% endblock %}
